.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo{
  width:300px;
  height:300px;
  background:url(assets/images/bg.jpg);
}
.btn-success{
  width:100px;
  height:50px;
  background:url(assets/images/btn-success.jpg);
  background-size:100%;
}
.btn-error{
  background:url(assets/images/btn-error.jpg);
  width:100px;
  height:50px;
  background-size:100%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
